# Get Started

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-510/blob/main/book/python/01_get_started.ipynb)

Exercise 1: Variable Assignment and Basic Operations

In [6]:
latitude = 40.7128
longitude = -74.0060
population = 8336817
areaNewYork = 783.8
latitude = 40.7128
longitude = -74.0060
population = 8336817
areaNewYork = 783.8

density = population / areaNewYork
print("Latitude:", latitude, "Longitude:", longitude)
print("People population per square kilometer", density)

Latitude: 40.7128 Longitude: -74.006
People population per square kilometer 10636.408522582293

Exercise 2: Working with Strings

In [13]:
city = 'San Francisco'

replstring = city.replace("San", "Los")

print(city.lower(),"< lowercase &  uppercase >",city.upper(),"\t",
      "&",replstring)

san francisco < lowercase &  uppercase > SAN FRANCISCO 	 & Los Francisco

Exercise 3: Using Lists

In [28]:
cities = (['New York City:', 40.7128, -74.0060], ['Los Angeles:', 34.0522, -118.2437], ["Chicago:", 41.8781, -87.6298])
cities = list(cities)
cities.append(["Miami:", 25.7617, -80.1918])
cities = tuple(cities)

print(cities)
print(cities[0:2])

(['New York City:', 40.7128, -74.006], ['Los Angeles:', 34.0522, -118.2437])

Exercise 4: Using Tuples

In [31]:
eiffel_tower = (48.8584, 2.2945)
print(eiffel_tower)

#eiffel_tower[0] = 48.8585
#TypeError: 'tuple' object does not support item assignment
#In tuples you can't change values after they are created.

(48.8584, 2.2945)

TypeError: 'tuple' object does not support item assignment

Exercise 5: Working with Sets

In [33]:
visited_countries = {"Poland", "Netherlands", "Czech republic"}

visited_countries.add("Turkey")

print(visited_countries)

#visited_countries.add("Turkey")
#print(visited_countries)
#Nothing happens, here are not allowed dublicates

{'Turkey', 'Netherlands', 'Poland', 'Czech republic'}
{'Turkey', 'Netherlands', 'Poland', 'Czech republic'}

Exercise 6: Working with Dictionaries